.uiTextComp {
  font-size: var(--theme-font-size-m);

  &.trunc {
    display: -webkit-box;
    line-clamp: var(--text-line-clamp, 5);
    -webkit-line-clamp: var(--text-line-clamp, 5);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
