.Div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon {
  width: 12px;
  color: var(--theme-font-color-secondary);
}

.date {
  font-size: var(--theme-font-size-m);
  color: var(--theme-font-color-secondary);
}
