.header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 24px;
  padding-block: 24px 12px;
}

.extraDetails {
  display: flex;
  margin-block: 8px 0;
  gap: 16px;
  align-items: center;
}
