.Div {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline: 24px;
  padding-block: 24px 12px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.extraDetails {
  display: flex;
  margin-block: 8px 0;
  gap: 16px;
}

.separator {
  border-bottom: var(--theme-border-primary);
  width: 100%;
}

.content {
  padding-inline: 24px;
  padding-block: 16px 24px;
}

.bold {
  font-weight: bold;
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .chartTitle {
    text-align: center;
  }

  > div {
    width: 45%;
  }
}

.info {
  text-align: center;
  color: var(--theme-font-color-secondary);
  font-size: var(--theme-font-size-s);
}
