.Div {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.extraDetails {
  display: flex;
  gap: 16px;

  .date {
    font-size: var(--theme-font-size-m);
    color: var(--theme-font-color-secondary);
  }
}
