.Div {
  display: flex;
  flex-direction: column;
  min-height: 400px;
}

.separator {
  border-bottom: var(--theme-border-primary);
  width: 100%;
}

.content {
  padding-inline: 24px;
  padding-block: 16px 24px;
}

.bold {
  font-weight: bold;
}

.chartContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;

  .chartTitle {
    text-align: center;
  }

  > div {
    width: 45%;
  }

  @media only screen and (max-width: 767px) {
    flex-direction: column;

    > div:nth-child(1) {
      width: 95%;
      margin: 0 auto;
    }
    > div:nth-child(2) {
      width: 100%;
    }
  }
}

.info {
  text-align: center;
  color: var(--theme-font-color-secondary);
}

.highlight {
  color: var(--theme-color-accent);
}
