.Div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bold {
  font-weight: bold;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  li {
    list-style: none;
  }
}

.mh400 {
  max-height: 400px;
}
