.Div {
  grid-column: span 1;
  background-color: var(--background-color-primary);
  border: var(--theme-border-primary);
  border-radius: 8px;
  padding: 0 24px 24px 24px;
  box-shadow: var(--theme-box-shadow-primary);
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow: hidden;

  &.inDrawer {
    max-height: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-inline: 12px;
    padding-block: 0 12px;
  }
}

.topSide {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 24px 16px;

  .inDrawer & {
    position: sticky;
    top: 0;
    background-color: var(--background-color-primary);
    z-index: 10;
    padding-block-start: 12px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 4px;

    h2 {
      width: fit-content;
    }

    .headerRight {
      display: flex;
      align-items: center;
      gap: 12px;
      justify-content: space-between;
      flex: 1;

      p {
        font-size: var(--theme-font-size-m);
        color: var(--theme-font-color-secondary);
      }
    }
  }
}
