.button {
  width: 32px;
  height: 32px;
  padding: 0;

  border: var(--theme-border-primary);
  background-color: var(--background-color-tertiary);
  border-radius: 6px;
  cursor: pointer;

  display: grid;
  place-items: center;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    align-self: flex-end;
  }
}

/* wrapper that slides */
.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: transform 0.35s ease;
}

/* positions */
.light {
  transform: translateY(-3px);
}

.dark {
  transform: translateY(-39px);
}

/* icon sizing */
.iconWrapper svg {
  width: 18px;
  height: 18px;
  margin: 9px 0;
  color: var(--theme-font-color-secondary);
}
