.header {
  box-shadow: var(--theme-box-shadow-primary);
  width: 100%;
  background-color: var(--background-color-primary);
  padding-block: 16px;
  border-block-end: var(--theme-border-primary);
}

.content {
  max-width: calc(1280px - 24px - 20px);
  padding-inline: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .iconContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--theme-color-primary);
    align-self: center;
    padding: 10px;
    border-radius: 4px;

    .icon {
      width: 16px;
      height: 16px;
      color: var(--background-color-primary);
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 12px;
}
