.Div {
  font-size: var(--theme-font-size-m);
  border-radius: 50px;
  display: flex;
  gap: 6px;
  align-items: center;
  background-color: var(--theme-color-success);
  padding: 4px 12px;
}

.statusText {
  font-size: var(--theme-font-size-s);
}
