name: CI/CD deploy automated job decorating script in container
on:
  push:
    branches: [ "main" ]
    paths:
      - Backend/Scripts/Populate-laws/**
    workflow_dispatch:
      inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'info'
        type: choice
        options:
        - info
        - warning
        - debug
      tags:
        description: 'Build container for automated law decoration ing DB'
        required: false
        type: boolean
      environment:
        description: 'Environment to run tests against'
        type: environment
        required: true
    



jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
    # 1. Checkout repo
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Log in to Docker Hub
    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # 3. Build and push Docker image
    - name: Build and push Docker image
      run: |
        cd Backend/Scripts/Populate-laws/
        ls -a 
        IMAGE=borkanie/populate_laws:latest
        docker build \
          -t $IMAGE \
          .
        docker push $IMAGE
        
    # 4. Deploy to Docker
    - name: Deploy to 
      run: |
        IMAGE_NAME="borkanie/populate_laws"
        CONTAINER_NAME="populate_laws"

        echo "Pulling latest image $IMAGE_NAME..."
        docker pull $IMAGE_NAME

        if [ "$(docker ps -aq -f name=$CONTAINER_NAME)" ]; then
          echo "Stopping and removing existing container $CONTAINER_NAME..."
          docker stop $CONTAINER_NAME
          docker rm $CONTAINER_NAME
        fi

        echo "Starting new container $CONTAINER_NAME..."
        docker run -d \
          --name $CONTAINER_NAME \
          -e OPENAI_API_KEY="${{ secrets.OPENAI_API_KEY }}" \
          --restart unless-stopped \
          $IMAGE_NAME

        echo "Backend Deployment complete!"


